.main {
  padding: 20px 20px 20px 20px;
  width: 100%;
  margin: auto;
}

.marginSty {
  margin-left: 8px;
}

.marginIcon {
  margin-left: 5px;
}

.leftBtnSty {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.middleBtnSty {
  border-radius: 0;
}

.rightBtnSty {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.searchSty {
  width: 100%;
}

.showIcon {
  //display: none;
  //:hover {
  //  display: block;
  //}
}

.tableHead {
  margin-top: 15px;
  :global{
    .ant-table-thead > tr > th {
      font-weight: bold;
      background: none;
    }
    .ant-table table {
      table-layout: fixed;
    }
  }
}

.iconSty {
  color: #faad14;
}

.titleSty {
  /* color: #1890FF; */
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}
